* {
  padding: 0;
  margin: 0;
}

/* body{
  max-width: 800px;
  margin: 0 auto;
} */
/* #region page */
.page {
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 0.82)), url(./images/background.webp);
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 85px;
  font-family: 'Economica', sans-serif;
  box-shadow: 0 10px 15px #00000060;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hidden-on-mobile {
  display: block !important;
}

.hidden-on-desktop {
  display: none !important;
}

@media screen and (max-width: 1100px) {
  .page {
    min-height: -webkit-fill-available;
  }

  .hidden-on-mobile {
    display: none !important;
  }

  .hidden-on-desktop {
    display: block !important;
  }

}

.portfolio {
  z-index: 20;
}

.about-me {
  z-index: 19;
}

.sommaire {
  z-index: 18;
}

.packshot-pago {
  z-index: 17;
}

.affiche-film {
  z-index: 16;
}

.affiche-citation {
  z-index: 15;
}

.affiche-theatre {
  z-index: 14;
}

.affiche-publicitaires {
  z-index: 13;
}

.affiche-programmation {
  z-index: 12;
}

.affiche {
  z-index: 11;
}

.bella-candella {
  z-index: 10;
}

.elixir {
  z-index: 9;
}

.lochju {
  z-index: 8;
}

.carnavale {
  z-index: 7;
}

.photographie {
  z-index: 6;
}

.association {
  z-index: 5;
}

.bateau {
  z-index: 4;
}

.contact {
  z-index: 3;
}

/* #endregion */

/* #region presentation */
.presentation .name {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 22px;
}

.presentation .title-container {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.presentation .title-container img {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  z-index: -1;
  object-fit: cover;
}

.presentation .title-container .title {
  display: inline-flex;
  font-size: 100px;
  font-family: 'Abril Fatface', cursive;
}

.presentation .title-container .title .transparency {
  -webkit-text-stroke: 0.0225em rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
}

.presentation .title-container .subtitle {
  font-size: 28px;
}

.presentation .bottom-text {
  position: absolute;
  bottom: 40px;
  right: 70px;
  font-size: 22px;
}

@media screen and (max-width: 1100px) {
  .presentation .name {
    top: 20px;
    left: 30px;
    font-size: 18px;
  }

  .presentation .title-container img {
    width: 50%;
  }

  .presentation .title-container .title {
    font-size: 60px;
  }

  .presentation .bottom-text {
    bottom: 20px;
    right: 30px;
    font-size: 18px;
  }
}

/* #endregion */

/* #region about-me */
.about-me {
  overflow: hidden;
}

.about-me .content {
  width: 37%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  margin-left: -8%;
}

.about-me .content img {
  width: 74%;
  position: absolute;
  top: -77%;
  left: 76%;
  transform: rotate(335deg);
  z-index: -1;
  object-fit: cover;

}

.about-me .content .title {
  font-size: 61px;
  font-family: 'Abril Fatface', cursive;
}

.about-me .content .description {
  font-size: 31px;
}

@media screen and (max-width: 1100px) {
  .about-me .content {
    width: 70%;
  }

  .about-me .content img {
    width: 75%;
    top: 75%;
    left: 50%;
  }

  .about-me .content .title {
    font-size: 53px;
  }

  .about-me .content .description {
    font-size: 30px;
  }
}

/* #endregion */

/* #region sommaire */
.sommaire img {
  position: absolute;
  z-index: -1;
  width: 44%;
  transform: rotate(350deg);
  top: 23%;
  left: 8%;
}

.sommaire table {
  font-family: 'Abril Fatface', cursive;
  text-align: left;
  display: flex;
  justify-content: center;
  border-spacing: 110px 50px;
}

.sommaire table .numero {
  -webkit-text-stroke: 0.0225em rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1100px) {
  .sommaire img {
    top: 40%;
    left: 50%;
  }

  .sommaire table {
    font-size: 45px;
    border-spacing: 25px 70px;
  }
}

/* #endregion */

/* #region affiches-1 */
.affiches-1 .categorie {
  font-family: 'Abril Fatface', cursive;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  position: absolute;
  left: 14%;
  font-size: 30px;
}

.affiches-1 .categorie .numero {
  -webkit-text-stroke: 0.0225em rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
}

.affiches-1 img {
  position: relative;
  height: 130%;
  margin-left: 120px;
}

.affiches-1 .effet-3d {
  transform-style: preserve-3d;
}

.affiches-1 .content {
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 60%;
}

.affiches-1 .content .text {
  width: 23%;
  height: 100%;
  position: relative;
}

.affiches-1 .content .text .title {
  font-size: 64px;
  font-family: 'Abril Fatface', cursive;
}

.affiches-1 .content .text .description {
  font-size: 31px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 1.4em;
  margin: 0 30px;
}

.affiches-1 .content .text .last-line {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
}

@media screen and (max-width: 1100px) {
  .affiches-1 .categorie {
    top: 10%;
    left: 0%;
  }

  .affiches-1 .content {
    flex-direction: column;
    align-items: center;
  }

  .affiches-1 .content .text {
    width: 80%;
  }

  .affiches-1 .content .text .title {
    font-size: 35px;
  }

  .affiches-1 .content .text .description {
    font-size: 22px;
  }

  .affiches-1 .content .text .last-line {
    font-size: 22px;
  }

  .affiches-1 img {
    position: none;
    margin-left: 0;
    height: 50%;
    margin-top: 85px;
  }
}

/* #endregion */

/* #region affiches-2 */
.affiches-2 .categorie {
  font-family: 'Abril Fatface', cursive;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  position: absolute;
  left: 14%;
  font-size: 30px;
}

.affiches-2 .categorie .numero {
  -webkit-text-stroke: 0.0225em rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
}

.affiches-2 img {
  position: relative;
  top: 15%;
  padding: 30px;
}

.affiches-2 .effet-3d {
  transform-style: preserve-3d;
}

.affiches-2 .content {
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 60%;
}

.affiches-2 .content .text {
  width: 23%;
  height: 100%;
  position: relative;
}

.affiches-2 .content .text .title {
  font-size: 64px;
  font-family: 'Abril Fatface', cursive;
}

.affiches-2 .content .text .description {
  font-size: 31px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 1.4em;
  margin: 0 30px;
}

.affiches-2 .content .text .last-line {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
}

@media screen and (max-width: 1100px) {
  .affiches-2 .categorie {
    top: 10%;
    left: 0%;
  }

  .affiches-2 .content {
    flex-direction: column;
    align-items: center;
    height: 80%;
  }

  .affiches-2 .content .text {
    width: 80%;
    margin: auto;
  }

  .affiches-2 .content .text .title {
    font-size: 35px;
  }

  .affiches-2 .content .text .description {
    font-size: 22px;
    height: 70%;
  }

  .affiches-2 .content .text .last-line {
    font-size: 22px;
  }

  .affiches-2 .images {
    display: flex !important;
    justify-content: center;
  }

  .affiches-2 img {
    position: none;
    margin-left: 0;
    width: 50%;
    padding: 0;
  }
}

/* #endregion */

/* #region citation */
.affiche-citation .content .text .title {
  white-space: nowrap;
}

/* #endregion */

/* #region theatre */
.affiche-theatre .content .text .title {
  white-space: nowrap;
}

/* #endregion */

/* #region pub */
.affiche-publicitaires .content .text .title {
  line-height: 50px;
}

/* #endregion */

/* #region programmation */
.affiche-programmation .content .text .title {
  line-height: 50px;
}

@media screen and (max-width: 1100px) {
  .affiche-programmation .content .text .title {
    line-height: 30px;
  }

  .affiche-programmation img {
    top: 20%;
    margin-top: 0;
  }
}


/* #endregion */

/* #region affiche */
.affiche .content .text .title {
  white-space: nowrap;
}

/* #endregion */

/* #region logos */
.logos .categorie {
  font-family: 'Abril Fatface', cursive;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  position: absolute;
  left: 14%;
  font-size: 30px;
}

.logos .categorie .numero {
  -webkit-text-stroke: 0.0225em rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
}

.logos .content {
  height: 60%;
}

.logos .content .images {
  height: 100%;
}

.logos .content img {
  height: 85%;
}

.logos .content .last-line {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
}

@media screen and (max-width: 1100px) {
  .logos .categorie {
    left: 0;
  }

  .logos .content .images {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logos .content img {
    height: 40% !important;
  }
}

/* #endregion */

/* #region elixir */
.elixir .content img {
  height: 100%;
}

/* #endregion */

/* #region lochju */
.lochju .content img {
  height: 100%;
}

/* #endregion */

/* #region photographie */
.photographie .categorie {
  font-family: 'Abril Fatface', cursive;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  position: absolute;
  left: 14%;
  font-size: 30px;
}

.photographie .categorie .numero {
  -webkit-text-stroke: 0.0225em rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
}

.photographie .content {
  height: 60%;
  display: flex;
  justify-content: center;
}

.photographie .content .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photographie .carousel {
  position: relative;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1100px) rotateY(0deg);
  animation: rotate 18s linear infinite;
}

.photographie .carousel__item {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.photographie .carousel-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes rotate {
  100% {
    transform: perspective(1100px) rotateY(360deg);
  }
}

/* #endregion */

/* #region videos */
.videos .categorie {
  font-family: 'Abril Fatface', cursive;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  position: absolute;
  left: 14%;
  font-size: 30px;
}

.videos .categorie .numero {
  -webkit-text-stroke: 0.0225em rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
}

.videos .content {
  height: 60%;
}

.videos .content .last-line {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
}

@media screen and (max-width: 1100px) {
  .videos .categorie {
    left: 0;
  }

  .videos .content .images {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

/* #endregion */

/* #region contact */
.contact .content {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .content .images {
  position: relative;
  height: 150%;
  top: 10%;
  left: 10%;
}

.contact .content img {
  height: 140%;
}

.contact .content .text {
  height: 100%;
}

.contact .content .text .title-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .content .text .title-container .title {
  font-family: 'Abril Fatface', cursive;
  font-size: 75px;
}

.contact .content .text .title-container .subtitle {
  font-size: 36px;
}

.contact .content .last-line {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 27px;
}

@media screen and (max-width: 1100px) {
  .contact .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact .content .text {
    height: fit-content;
    top: 15%;
    position: relative;
  }

  .contact .content .text .title-container .title {
    font-size: 60px;
  }

  .contact .content .images {
    height: 70%;
    top: 25%;
    left: 0;
  }

  .contact .content img {
    height: 100%;
  }
}

/* #endregion */

@media screen and (max-width: 1100px) {
  .effet-3d {
    transform-style: inherit !important;
    transform: none !important;
  }
}